<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome</title>
        <link rel="stylesheet" href="./css/new.css" />
        <link rel="manifest" href="./manifest.webmanifest" />
        <script>
            //install service worker

            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("./sw.js")
                })
            }
        </script>
    </head>
    <body>
        <div class="root">
            <div class="wrap">
                <div class="join">
                    <input
                        type="text"
                        placeholder="Enter Room ID or Room URL"
                    />
                    <button>Join</button>
                    <script>
                        let btn = document.querySelector(".join > button")
                        let input = document.querySelector(".join > input")
                        btn.addEventListener("click", function () {
                            let val = input.value
                            if (val.length == 0) {
                                alert("Enter valid room id or room url")
                            }
                            location.href = val
                        })
                    </script>
                </div>
                <form action="/new/room/create">
                    <button class="create_new">Create New Sharing Room</button>
                </form>
            </div>
        </div>
    </body>
</html>
